@import url('normalize.css');

/* CONSTANTS */
:root {
    --header-height: 4rem;
    --main-gap: 1rem;
}

:root {
    --random-color: cyan;
    --light-text-color: black;
    --dark-text-color: white;
    --header-hsl: hsl(0, 0%, 100%, 0.3);
    --shadow-hsl: hsl(0, 0%, 0%, 0.25);
    --blur: 20rem;
}

:root {
    --main-font: 'Consolas', 'Courier New', monospace;
    --big-font-size: 3rem;
    --h2-font-size: 2rem;
    --font-size: 1rem;
    --small-font-size: 0.875rem;
    --font-weight: 500;
    --font-weight-strong: 800;
    --font-weight-light: 300;
}

html {
    scroll-behavior: smooth;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-size: var(--font-size);
    overflow-x: hidden;
    width: 66%;
    margin: auto;
}

@media screen and (max-width: 70rem) {
    body {
        width: 90%;
    }
    .about-outer {
        flex-direction: column;
    }
    .about-aside {
        display: flex;
        flex-direction: row;
        gap: var(--main-gap);
    }
}

main {
    margin: var(--header-height) 0;
    font-family: var(--main-font);
    font-weight: var(--font-weight);
}

video {
    width: 120px;
    border-radius: 30%;
    box-shadow: 0 0 var(--blur) var(--random-color);
}

.contact-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

a {
    color: var(--light-text-color);
    text-decoration: none;
}

a:hover, a:active {
    background-color: var(--random-color);
    border-radius: 10%;
    color: var(--light-text-color);
}

strong {
    text-decoration: underline;
    text-decoration-style: dotted;
}

strong:hover {
    color: var(--random-color);
}

.mini-svg {
    width: var(--font-size);
    height: var(--font-size);
}

.column {
    flex-direction: column;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.contact-item {
    --gap: 0.25rem;
    display: flex;
    font-weight: var(--font-weight-strong);
    flex-direction: row;
    justify-content: start;
}

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

footer {
    font-family: var(--main-font);
}

.load-time-date-wrapper {
    font-weight: var(--font-weight-light);
    justify-content: right;
}
