@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@200;300;400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400&display=swap');
@import url('normalize.css');

/* CONSTANTS */
:root {
    --header-height: 4rem;
    --main-gap: 1rem;
    --main-border-radius: 1rem;
    --slider-max-width: 12rem;
    --grid-height: 70vh;
    --grid-width: 70vw;
    --aside-num-cols: 2;
}

:root {
    --z-back: -10;
    --z-norm: 1;
    --z-front: 10;
    --z-front-front: 100;
}

:root {
    --random-color: cyan;
    --highlight-color: white;
    --background-color: white;
    --light-text-color: black;
    --dark-text-color: white;
    --header-hsl: hsl(0, 0%, 100%, 0.3);
    --shadow-hsl: hsl(0, 0%, 0%, 0.25);
    --blur: 1rem;
}

:root {
    --main-font: 'Fira Sans', sans-serif;
    --mono-font: 'Martian Mono', monospace;
    --big-font-size: 3rem;
    --h2-font-size: 2rem;
    --font-size: 1rem;
    --small-font-size: 0.875rem;
    --font-weight: 400;
    --font-weight-strong: 800;
    --font-weight-light: 300;
}

html {
    scroll-behavior: smooth;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-size: var(--font-size);
    overflow-x: hidden;
    width: 66%;
    margin: auto;
}

main {
    margin: var(--header-height) 0;
    font-family: var(--main-font);
    font-weight: var(--font-weight);
}

.aside-video {
    width: 120px;
    border-radius: 30%;
}

.contact-item {
    --gap: 0.25rem;
    font-weight: var(--font-weight-strong);
    align-items: center;
}

a {
    color: var(--light-text-color);
    text-decoration: none;
}

a:hover, a:active {
    background-color: var(--random-color);
    border-radius: 10%;
    color: var(--light-text-color);
}

.mini-svg {
    width: var(--font-size);
    height: var(--font-size);
}

.column {
    flex-direction: column;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

footer {
    font-family: var(--mono-font);
}

.load-time-date-wrapper {
    font-weight: var(--font-weight-light);
    justify-content: right;
}
